@use '../_style.scss' as s;

.btn{

    &:link,
    &:visited{
        padding: 1.5rem 4rem;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        margin-top: 4rem;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;
    }

    &:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba(s.$color-black, .4);  /* X-shadow, Y-shadow, blur, color of the shadow */

        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active{                    /*When clicked*/
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba(s.$color-black, .4);
    }

    &::after{
        content: "";
        display: inline-block;
        border-radius: 10rem;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 0px;
        transition: all 0.4s;
    }

    &-white{
        background-color: s.$color-white;
        color: s.$color-dark-grey;

        &::after{
            background-color: s.$color-white;
        }
    }

    &-blue{
        background-color: s.$color-primary;
        color: s.$color-white;

        &::after{
            background-color: s.$color-primary;
        }
    }
    
    &-animated{
        animation-name: moveInBottom;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
        animation-fill-mode: backwards;  /*Se aplica el 0% de la animación antes del delay*/
    }

}


.btn-text{
    &:link, &:visited{
        color: s.$color-secondary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid s.$color-secondary;
        font-size: 1.2rem;
    }

    &:hover{
        color: s.$color-grey-light-1;
        background-color: s.$color-secondary;
        padding: 3px;
        box-shadow: 0 1rem 2rem rgba(s.$color-black, .2);
        transform: translateY(-2px);
    }

    &:active{
        transform: translateY(2px);
    }

}





@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }

    100%{
        transform: translate(0);
        opacity: 1;
    }
}