*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body { 
    font-size: 16px;
    color: #fff;
    background-color: #24338a;
    font-family: 'Cochin', sans-serif;
}

header{
    background-color: #5761ec;
    border-radius: 0;
    border: 0;
}

#logo-img{
    background: url('images/circle-cropped.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}

.navbar-brand{
    padding: 10px;
}

.navbar-brand h1, .nav-item {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin:0;
    line-height: 1;
}

.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}

@media (min-width: 576px, max-width = 767px) {

    .visibilidad{
        visibility: hidden;
    }
}

@media (min-width: 768px, max-width = 991) {
    button{
        visibility: hidden;
    }
}

@media (min-width: 992px, max-width=1199) {
    button{
        visibility: hidden;
    }
}

@media (min-width: 1200px) {
    button{
        visibility: hidden;
    }
}

#box1{
    overflow: auto;

}
#para1{
    margin: 30px;
    padding: 10px;
    clear: both;
    height: 250px;
    overflow: auto;

}


row{
    border: black;
}

.container {
    border: black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

h2{
    font-size: 2em;
    margin-top: 15px;
}

box{
    border: black;
}

.texto{
    padding: 20px;
    padding-top: 0px;
}