.clase{
    opacity: 0.7;
    color : purple;
    font-size : 24px;
    background-color: pink;
    text-align: center;
    font-weight: bold;
}

#idid{   
    font-style: italic;
    color: teal;
    font-size : 20px;
}
h1{
    color: blue;
    font-style: italic;
}
ul.lista li{
    color : black;
    list-style: none;
    text-decoration: none;
    background-color: green;
    border: 1px solid white;
    display: block;
    width: 200px;
    text-align: center;
    margin-bottom:2px;
}
ul.lista li:nth-child(2){
    font-size: 24px;
}
ul.lista li:hover, ul.lista li:active{
    color: red;
}
section#palabras div:nth-child(odd){
    background-color: grey;
}
section#palabras div:hover{
    background-color: pink;
    cursor : pointer;
}

#box1{
    background-color: pink;
    text-align: center;
}
#box2{
    background-color: purple;
    padding: 20px;
    border: 10px purple;
    margin: 20px;
    width: 50px;
}
#box3{
    background-color: blue;
    margin:20px;
    padding:1px;
    width: 130px;
}
#box4{
    background-color:green;
    padding:1px;
    margin:20px;
    width: 170px;
}
#box5{
    background-color: yellow;
    padding:1px;
    margin:20px;
    width: 210px;
}
#box6{
    background-color:orange;
    padding:1px;
    margin:20px;
    width: 250px;
}
#box7{
    background-color: red;
    padding:1px;
    margin:20px;
    width: 290px;
}
img{
    width : 320px;
    height: 320px;
}

@media (min-width : 1200 px){
    #img1{
        width : 640px;
        height : 640px;
    }
}

@media (min-width : 900 px) and (max-width : 1199px){
    #img1{
        width : 160px;
        height : 5160px;
    }
}
