*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 62.5% es igual a 10px */
}

body {
  margin: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
}

.u-center-content {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 7rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  /*  &:not(:last-child){
        margin-bottom: 8rem;
    } */
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row .col-1-of-2 {
  float: left;
  width: calc(( 100% - 6rem) / 2);
}
.row .col-1-of-2:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-3 {
  float: left;
  width: calc(( 100% - 4rem*2) / 3);
}
.row .col-1-of-3:not(:last-child) {
  margin-right: 4rem;
}
.row .col-1-of-4 {
  float: left;
  width: calc(( 100% - 4rem*3) / 4);
}
.row .col-1-of-4:not(:last-child) {
  margin-right: 4rem;
}

.about-text-heading {
  font-size: 1.4em;
  font-weight: 700;
  text-transform: uppercase;
}

.about-text {
  font-size: 1rem;
  margin-bottom: 3rem;
}

.about-section-heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #ff0000, #003cff);
  display: inline-block;
  background-clip: text;
  color: transparent;
  transition: all 0.4s;
  letter-spacing: 2px;
}
.about-section-heading:hover {
  transform: skewY(3deg);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.tours {
  background-color: #e1e1e6;
  padding: 25rem 6%;
  margin-top: -12rem;
}

.card {
  perspective: 140rem;
  -moz-perspective: 140rem;
  margin-top: 6rem;
  height: 40rem;
}
.card__side {
  position: absolute;
  top: 0;
  left: 0;
  height: 35rem;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  transition: all 0.8s;
  backface-visibility: hidden;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: white;
}
.card__side--back {
  background-color: green;
  transform: rotateY(180deg);
}
.card__side--back-blue {
  background-image: linear-gradient(to right bottom, #003cff, #6f00ff);
}
.card__side--back-both {
  background-image: linear-gradient(to right bottom, #9156ff, #30ecec);
}
.card__side--back-red {
  background-image: linear-gradient(to right bottom, #ff0000, #ff0077);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  height: 21rem;
  background-size: 30rem;
  background-blend-mode: saturation;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.card__picture-blue {
  background-image: linear-gradient(to right bottom, rgba(0, 60, 255, 0.4), rgba(111, 0, 255, 0.4)), url("./otro.jpg");
}
.card__picture-both {
  background-image: linear-gradient(to right bottom, rgba(145, 86, 255, 0.4), rgba(48, 236, 236, 0.4)), url("./galan.jpg");
}
.card__picture-red {
  background-size: 30rem;
  background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.4), rgba(255, 0, 119, 0.4)), url("./navideno.jpg");
}
.card__heading {
  color: white;
  position: absolute;
  text-align: right;
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: 400;
}
.card__heading-blue {
  top: 1rem;
  left: 1rem;
}
.card__heading-both {
  top: 1rem;
  left: 1rem;
}
.card__heading-red {
  top: 17rem;
  right: 1rem;
}
.card__headingwrap {
  padding: 0.5rem 1rem;
  -webkit-box-decoration-break: clone;
}
.card__headingwrap-blue {
  background-image: linear-gradient(to right bottom, rgba(0, 60, 255, 0.9), rgba(111, 0, 255, 0.9));
}
.card__headingwrap-both {
  background-image: linear-gradient(to right bottom, rgba(145, 86, 255, 0.9), rgba(48, 236, 236, 0.9));
}
.card__headingwrap-red {
  background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.9), rgba(255, 0, 119, 0.9));
}
.card__text {
  font-size: 1.4rem;
}
.card__text ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__text ul li {
  text-align: center;
  padding: 0.9rem;
}
.card__text ul li:not(:last-child) {
  border-bottom: 1px solid #e1e1e6;
}

/*# sourceMappingURL=Tours.css.map */
