@use 'style' as s;

.header{
    height: 95vh;
    background-size: cover;
    background-image: linear-gradient(
        to right bottom,
        rgba(s.$color-primary, 0.8),
        rgba(#E61A1A, 0.8)),
        url(./simi.jpg);
    background-position: center;
    clip-path: polygon(0 0, 100% 0%, 100% 80vh, 0% 100%);
    position: relative;
}

.logo-image{
    height: 6rem;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: contrast(180%);

}

.logo-image:hover{
    animation-name: rotateLogo;
    animation-duration: 1s;
}

.logo-box{
    position: absolute;
    margin-top: 3rem;
    margin-left: 3rem;
}

.text-box{
    position: absolute;
    top: 40%;                           /*in relation of the parent component*/
    left: 50%;
    transform: translate(-50%,-50%);    /*in relation of itself*/
    text-align: center;                 /*Para que el botón se alínee*/
}

.text-primary{
    color: white;
    text-transform: uppercase;

    backface-visibility: hidden;
}

.text-primary-main{
    display: block;
    font-size: 7.5rem;
    font-weight: 400;
    letter-spacing: 3rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
        animation-delay: 5s;
        animation-iteration-count: infinite;
    */
}

.text-primary-sub{
    display: block;
    font-size: 2.5rem;
    letter-spacing: .96rem;
    font-weight: 700;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    60%{
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    60%{
        transform: translateX(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rotateLogo{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}