
*,
*::after,
*::before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


html{
    font-size: 62.5%; /* 62.5% es igual a 10px */
}

body{
    margin: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: #777;
}


// COLORS
$color-primary: #ff0000;
$color-primary-2:#ff0077;
$color-secondary: #003cff;
$color-secondary-2: #6f00ff;
$color-tertiary:  #9156ff;
$color-tertiary-2:  rgb(48, 236, 236);

$color-grey-light-1: #e1e1e6;

$color-white : white;
$color-dark-grey: grey;
$color-black: black;

//FONTS

$default-font-sixe: 1.6rem;

//MIXINS

@mixin clearfix {

    &::after{
    content: "";
    display: table;
    clear: both;}
}


//UTILITIES

.u-center-content { text-align: center; }
.u-margin-bottom-small { margin-bottom: 1.5rem; }
.u-margin-bottom-medium { margin-bottom: 4rem; }
.u-margin-bottom-big{ margin-bottom: 7rem; }


//GRID SYSTEM

.row {
    max-width: 114rem;
    margin: 0 auto;
    
  /*  &:not(:last-child){
        margin-bottom: 8rem;
    } */

    @include clearfix();

    .col-1-of-2{
        float: left;
        width: calc(( 100% - 6rem) / 2);

        &:not(:last-child){
            margin-right: 6rem;
        }
    }

    .col-1-of-3{
        float: left;
        width: calc(( 100% - 4rem*2) / 3);

        &:not(:last-child){
            margin-right: 4rem;
        }
    }

    .col-1-of-4{
        float: left;
        width: calc(( 100% - 4rem*3) / 4);

        &:not(:last-child){
            margin-right: 4rem;
        }
    }
}


//TEXT

.about-text-heading{
    font-size: 1.4em;
    font-weight: 700;
    text-transform: uppercase;
}

.about-text{
    font-size: 1rem;
//       &:not(:last-child){
        margin-bottom: 3rem;
    }
//   }

.about-section-heading{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary, $color-secondary );
    display: inline-block;
    background-clip: text;
    color: transparent;
    transition: all .4s;
    letter-spacing: 2px;

    &:hover{
        transform: skewY(3deg);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}