*{
    margin: 0px;
    padding: 0px;
}


#imagenSummer{
    margin: 10px;
    background-color: rgb(255, 154, 154);
}

#imagenWinter{
    margin: 10px;
    background-color: rgb(76, 79, 248);
}

.Title{
    font-size: 100px;
    text-align: center;
}
img{
    height: 250px;
    width: 250px;
}

.mesa{
    clear: both;
    position: relative;
}